@inject IOptions<SerifuOptions> Options

<table>
    <thead>
        <tr>
            <th>Game</th>
            <th>Copyright</th>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        @* TODO *@
    </tbody>
</table>
