@model QuoteViewModel

<li class="quote">
    <div class="translations">
        <partial name="Translation" model="Model.Left" />
        <partial name="Translation" model="Model.Right" />
    </div>
    <div class="source">
        <a href="@Model.Source.GetLocalizedUrl()" target="_blank" rel="external noreferrer">@Model.Source.GetLocalizedTitle()</a>@(
            Model.HasContext ? $"{Strings.SourceTitleContextSeparator}{Model.Context}" : null
        )
    </div>
</li>
