<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Noto+Serif+JP&display=swap" />
    <link rel="stylesheet" vite-href="~/main.ts" />
</head>
<body>
    <partial name="Header" />
    <main>
        @RenderBody()
    </main>
    <script type="module" vite-src="~/main.ts"></script>
</body>
</html>
