@{
    ViewBag.Title = Strings.HomePageTitle;
    ViewBag.FocusSearchBox = true;
}

<div class="narrow">
    <p>
        30万以上のゲームのセリフを検索して、日本語の単語や表現が英語でどのように翻訳されているか、またはその逆を調べることができます。そしてAIによる<a href="https://github.com/maxkagamine/word-alignment-demo/blob/master/README.ja.md" target="_blank" rel="external noreferrer">単語アラインメント</a>を使用しており、検索した言葉に対応する翻訳部分がハイライトされます。<a href="https://tatoeba.org/ja" target="_blank" rel="external noreferrer">Tatoeba</a>と<a href="https://context.reverso.net/%E7%BF%BB%E8%A8%B3/" target="_blank" rel="external noreferrer">Reverso Context</a>に影響されました。
    </p>

    <p>
        このプロジェクトは完全に<a href="https://github.com/maxkagamine/Serifu.org" target="_blank" rel="external noreferrer">オープンソース</a>です。
    </p>

    <p>
        私がSerifu.orgを始めたきっかけは、艦これをプレイするために1ヶ月間ゲーセンへ通い続けたとき、まだ「<a asp-action="Results" asp-route-query="concentrated power of the sun" data-search="concentrated power of the sun">sun</a>」を日本語で何と言うか知らなかったのに「<a asp-action="Results" asp-route-query="魚雷" data-search="魚雷">魚雷</a>」や「<a asp-action="Results" asp-route-query="軽空母" data-search="軽空母">軽空母</a>」の海軍用語をすぐに覚えたことに気づきました。どうやら瑞鳳はどの教科書よりも良い先生のようです！
    </p>

    <p>
        つまりSerifu.orgは、言語を学ぶには興味のあるものからの方がより早いという考えに基づいています。
    </p>

    <p>
        注意：ネタバレや大人向けの言葉が含まれている場合があります。
    </p>
</div>
