@{
    ViewBag.Title = Strings.HomePageTitle;
}

<div class="narrow">
    <p>
        Search over 300,000 quotes from video games to see how an English word or idiom appears in its Japanese translation or vice versa, using <a href="https://github.com/maxkagamine/word-alignment-demo#readme" target="_blank" rel="external noreferrer">AI word alignment</a> to highlight the relevant part of the translation. Inspired by <a href="https://tatoeba.org/en" target="_blank" rel="external noreferrer">Tatoeba</a> and <a href="https://context.reverso.net/translation/" target="_blank" rel="external noreferrer">Reverso Context</a>.
    </p>

    <p>
        This project is entirely <a href="https://github.com/maxkagamine/Serifu.org" target="_blank" rel="external noreferrer">open source</a>.
    </p>

    <p>
        I started Serifu.org after realizing that, after going to the arcade nearly every day for a month to play Kancolle, I’d learned words like <a asp-action="Results" asp-route-query="魚雷" data-search="魚雷" lang="ja"><ruby>魚雷<rp>（</rp><rt>ぎょらい</rt><rp>）</rp></ruby></a> and <a asp-action="Results" asp-route-query="軽空母" data-search="軽空母" lang="ja"><ruby>軽空母<rp>（</rp><rt>けいくうぼ</rt><rp>）</rp></ruby></a> before I even knew the word for “<a asp-action="Results" asp-route-query="concentrated power of the sun" data-search="concentrated power of the sun">sun</a>.” Turns out, Zuihou is a better language teacher than any textbook!
    </p>

    <p>
        Serifu.org is based on the idea that it’s easier to learn a language through something you’re interested in.
    </p>

    <p>
        Note: May contain spoilers and mature language.
    </p>
</div>
