@{
    ViewBag.Title = Strings.HomePageTitle;
}

<div class="narrow">
    <p>
        30万以上のゲームのセリフを検索して、日本語の単語や表現が英語でどのように翻訳されているか、またはその逆を調べることができます。それにAIによる<a href="https://github.com/maxkagamine/word-alignment-demo/blob/master/README.ja.md" target="_blank" rel="external noreferrer">単語アラインメント</a>を使って、検索した言葉に対応する翻訳部分がハイライトされます。<a href="https://tatoeba.org/ja" target="_blank" rel="external noreferrer">Tatoeba</a>と<a href="https://context.reverso.net/%E7%BF%BB%E8%A8%B3/" target="_blank" rel="external noreferrer">Reverso Context</a>に触発されました。
    </p>

    <p>
        このプロジェクトは完全に<a href="https://github.com/maxkagamine/Serifu.org" target="_blank" rel="external noreferrer">オーペンソース</a>です。
    </p>

    <p>
        私は1ヶ月間ほぼ毎日ゲーセンに行って艦これをプレイしてから、「<a asp-action="Results" asp-route-query="concentrated power of the sun" data-search="concentrated power of the sun">sun</a>」を日本語で何と言うか知らないのに「<a asp-action="Results" asp-route-query="魚雷" data-search="魚雷">魚雷</a>」とか「<a asp-action="Results" asp-route-query="軽空母" data-search="軽空母">軽空母</a>」とかを覚えたことに気づいたら、Serifu.orgを始めました。どうやら瑞鳳がどの教科書よりも良い先生です！
    </p>

    <p>
        Serifu.orgは、興味のあるものなら言語を学ぶのがより早いという考えに基づいています。
    </p>

    <p>
        注意：ネタバレや大人向けの言葉が含まれている場合があります。
    </p>
</div>
