<div class="narrow">
    @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
    {
        <p>
            Search over 300,000 quotes from video games to see how an English word or idiom appears in its Japanese translation or vice versa, using <a href="https://github.com/maxkagamine/word-alignment-demo#readme" target="_blank" rel="external noreferrer">AI word alignment</a> to highlight the relevant part of the translation.
        </p>

        <p>
            Inspired by <a href="https://tatoeba.org/en" target="_blank" rel="external noreferrer nofollow">Tatoeba</a> and <a href="https://context.reverso.net/translation/" target="_blank" rel="external noreferrer nofollow">Reverso Context</a>.
        </p>

        <p>
            I started this project after realizing that, after going to the arcade nearly every day for a month to play Kancolle, I’d learned words like <a asp-action="Results" asp-route-query="魚雷" data-search="魚雷"><ruby lang="ja">魚雷<rp>（</rp><rt>ぎょらい</rt><rp>）</rp></ruby></a> and <a asp-action="Results" asp-route-query="軽空母" data-search="軽空母"><ruby lang="ja">軽空母<rp>（</rp><rt>けいくうぼ</rt><rp>）</rp></ruby></a> before I even knew the word for “<a asp-action="Results" asp-route-query="concentrated power of the sun" data-search="concentrated power of the sun">sun</a>.” Turns out, Zuihou is a better language teacher than any textbook!
        </p>

        <p>
            Serifu.org is based on the idea that it’s easier to learn a language through something you’re interested in &mdash; like <a asp-action="Results" asp-route-query="Up for a few rounds of gwent?" data-search="Up for a few rounds of gwent?">games</a>.
        </p>

        <p>
            Note: May contain spoilers and mature language.
        </p>
    }
    else
    {
        <p>
            30万以上のゲームのセリフを検索して、日本語の単語や表現が英語でどのように翻訳されているか、またはその逆を調べることができます。それにAIによる<a href="https://github.com/maxkagamine/word-alignment-demo/blob/master/README.ja.md" target="_blank" rel="external noreferrer">単語アラインメント</a>を使って、検索した言葉に対応する翻訳部分がハイライトされます。
        </p>

        <p>
            <a href="https://tatoeba.org/ja" target="_blank" rel="external noreferrer nofollow">Tatoeba</a>と<a href="https://context.reverso.net/%E7%BF%BB%E8%A8%B3/" target="_blank" rel="external noreferrer nofollow">Reverso Context</a>に触発されました。
        </p>

        <p>
            私は1ヶ月間ほぼ毎日ゲーセンに行って艦これをプレイしてから、「<a asp-action="Results" asp-route-query="concentrated power of the sun" data-search="concentrated power of the sun">sun</a>」を日本語で何と言うか知らないのに「<a asp-action="Results" asp-route-query="魚雷" data-search="魚雷">魚雷</a>」とか「<a asp-action="Results" asp-route-query="軽空母" data-search="軽空母">軽空母</a>」とかを覚えたことに気づいたら、このプロジェクトを始めました。どうやら瑞鳳がどの教科書よりも良い先生です！
        </p>

        <p>
            Serifu.orgは、興味のあるものなら言語を学ぶのがより早いという考えに基づいています。たとえば、<a asp-action="Results" asp-route-query="Up for a few rounds of gwent?" data-search="Up for a few rounds of gwent?">ゲーム</a>です。
        </p>

        <p>
            注意：ネタバレや大人向けの言葉が含まれている場合があります。
        </p>
    }
</div>
