autocomplete-list {
  --option-height: 2em;

  position: absolute;
  max-height: calc(var(--option-height) * var(--size)); /* --size set from JS */
  bottom: calc(env(keyboard-inset-height) + var(--body-padding));
  overflow-y: auto;
  z-index: 9999;
  user-select: none;
  cursor: default;

  &[hidden] {
    display: none;
  }

  div {
    padding: 0 var(--option-height) 0 calc(var(--option-height) * 0.3);
    line-height: var(--option-height);
    box-sizing: border-box;

    &.selected {
      background: var(--menu-hover-background);
    }

    &::before {
      content: '@';
    }
  }

  @media not (pointer: fine) {
    --option-height: 2.5em;
  }
}
