#searchBoxAutocomplete {
  --option-height: 2em;

  overflow-y: auto;
  position: absolute;
  z-index: 9999;
  font-family: inherit;
  font-size-adjust: inherit;
  color: inherit;

  option {
    padding: 0 var(--option-height) 0 calc(var(--option-height) * 0.3);
    height: var(--option-height);
    align-content: center;
    font: inherit;
    color: inherit;

    &:checked {
      background: var(--menu-hover-background);
    }
  }

  &:has(option:only-child) {
    /* Can't set size="1" since then it turns into a dropdown */
    height: var(--option-height);
    overflow-y: hidden;
  }

  @media not (pointer: fine) {
    --option-height: 2.5em;
  }
}
