body > footer.narrow {
  text-align: center;
  font-size: var(--font-size-smallish);
  margin-bottom: 0.6em;

  /* Using an hr instead of footer::before ensures it has the proper ARIA role and doesn't get spoken as text */
  hr {
    border: none;
    margin-bottom: 0.3em;
    opacity: 0.6;

    &::before {
      content: '*\2002*\2002*'; /* en space */
      font-family: 'override', 'Merriweather', 'Georgia', serif;
      font-size-adjust: 0.555;
    }
  }

  a {
    white-space: nowrap;
  }
}
