:root {
  --page-width: 900px;
  --body-padding: 1em;

  color-scheme: dark;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.5;
  background: #111;
  color: #f2f2f2;
}

[lang='en'] {
  font-family: 'Merriweather', serif;
  font-size-adjust: 0.555;
}

[lang='ja'] {
  font-family: 'Noto Serif JP', serif;
  font-size-adjust: none;
}

body {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--body-padding);
  visibility: visible !important;
}

main {
  margin-top: 2em;
}

a:not(:active) {
  color: inherit;
}

rt {
  user-select: none;
}

.narrow {
  max-width: 520px;
  margin: 0 auto;
  text-align: justify;
}
