:root {
  --page-width: 920px;
  --body-padding: 1em;
  --menu-hover-background: #111;

  /* Merriweather's lowercase 'g' renders weird in Chrome at 15px */
  --font-size-smallish: 15.1px;

  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.6;
  color: #f2f2f2;
  visibility: visible !important;
}

[lang='en'] {
  font-family: 'Merriweather', Georgia, serif;
  font-size-adjust: 0.555;
}

[lang='ja'] {
  font-family: 'Noto Serif JP', serif;
  font-size-adjust: none;
}

body {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--body-padding);
}

main {
  margin-top: 2.5em;
}

a:not(:active) {
  color: inherit;
}

rt {
  user-select: none;
}

.narrow {
  max-width: 520px;
  margin: 0 auto;
  text-align: justify;
}

[popover] {
  display: none;
  border: 1px solid #414141;
  background: #1c1c1c;

  &:popover-open {
    display: block;
  }
}

.material-symbols-outlined {
  font-size-adjust: none;
}
