.icon {
  display: block;
  width: 1em;
  height: 1em;
  background: url(./images/icons.svg) no-repeat;
  background-size: 100% auto;
}

.icon-menu {
  background-position-y: 0;
}

.icon-play {
  background-position-y: -1em;
}

.icon-loading {
  background-position-y: -2em;
  animation: icon-loading-spin 1s infinite linear;
}

.icon-stop {
  background-position-y: -3em;
}

.icon-notes {
  background-position-y: -4em;
}

@keyframes icon-loading-spin {
  to {
    transform: rotate(360deg);
  }
}

.game-icon {
  width: 1em;
  height: 1em;
  background-image: url(./images/game-icons.png);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-y: calc(var(--sprite-index) * 1em * -1);
}
