.results {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quote {
  display: grid;
  grid-template: 'left-actions left-quote .      right-actions right-quote' auto
                 'source       source     source source        source     ' auto
                 / auto minmax(0, 1fr) 1em auto minmax(0, 1fr);
  gap: 0.8em;
  overflow-wrap: break-word;

  & + & {
    margin-top: 2em;
  }

  > :nth-child(1) .translation-actions { grid-area: left-actions; }
  > :nth-child(1) .translation-quote { grid-area: left-quote; }
  > :nth-child(2) .translation-actions { grid-area: right-actions; }
  > :nth-child(2) .translation-quote { grid-area: right-quote; }

  .translation {
    /* The wrapping div exists to apply an aria-label to the group for screen readers */
    display: contents;
  }

  .translation-actions {
    --click-area-padding: 0.18em;
    --button-spacing: calc(1lh - 1em);

    display: flex;
    flex-direction: column;
    padding-top: calc(var(--button-spacing) / 2);

    button {
      border: none;
      background: none;
      font: inherit;
      color: inherit;
      cursor: pointer;
      padding: 0;
      width: calc(1em + (var(--click-area-padding) * 2));
      height: calc(1em + (var(--click-area-padding) * 2));
      margin: calc(var(--click-area-padding) * -1);
      opacity: 0.75;

      & + & {
        margin-top: calc(var(--click-area-padding) * -1 + var(--button-spacing));
      }

      span {
        display: block;
        font-size: 1.1em;
      }
    }
  }

  .translation-quote {
    --quote-mark-spacing: 0.18ch;

    position: relative;
    padding-left: calc(1ch + var(--quote-mark-spacing));

    blockquote {
      margin: 0;

      &:lang(en)::before {
        content: '“';
      }

      &:lang(en)::after {
        content: '”';
      }

      &:lang(ja)::before {
        content: '｢'; /* Halfwidth */
      }

      &:lang(ja)::after {
        content: '｣'; /* Halfwidth */
      }

      &::before {
        position: absolute;
        left: 0;
      }

      &::after {
        padding-left: var(--quote-mark-spacing);
      }
    }

    cite {
      display: block;
      font-style: normal;
      margin-top: 0.5em;

      &::before {
        content: '～ ';
        font-family: 'Noto Serif JP';
      }
    }
  }

  .source {
    grid-area: source;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75em;
    font-family: system-ui, sans-serif;
    color: rgb(from currentcolor r g b / 75%); /* Keeps active color fully opaque, as opposed to setting opacity */
  }

  .source-icon {
    --icon-size: 14px;

    width: var(--icon-size);
    height: var(--icon-size);
    background-image: url(/game-icons.png);
    background-repeat: no-repeat;
    background-size: var(--icon-size);
    background-position-y: calc(var(--sprite-index) * var(--icon-size) * -1);
    opacity: 0.75;
    margin-right: 0.4em;
    margin-top: 1px;
  }

  .source-title {
    all: unset;
    cursor: pointer;
    text-decoration: underline;

    &:active {
      color: ActiveText;
      color: -webkit-activelink; /* ActiveText is blue in Chrome for some reason */
    }
  }

  /* This could be broken out and reused if other popover menus are needed */
  .source-links {
    padding: 0;
    min-width: 250px;
    text-align: left;
    box-shadow: 0 20px 50px #111, 0 10px 25px #111;

    a {
      display: block;
      padding: 1em 2em;
      color: inherit;
      text-decoration: none;
      line-height: 1;
    }

    a:hover, a:focus {
      background: var(--menu-hover-background);
      outline: none;
    }

    /*
      For mobile and browsers that don't support anchor positioning, the popover
      will appear in the middle and larger, like a dialog rather than a context menu.
    */
    @supports (position-area: span-bottom left) {
      @media (min-width: 500px) {
        margin: 0 20px 0 0;
        position-area: span-bottom left;
        position-try: span-bottom right, span-top left, span-top right, bottom span-right, top span-right;
        min-width: 125px;
        box-shadow: 0 10px 25px #111;

        a {
          padding: 0.5em 1em;
        }
      }
    }
  }

  @media (max-width: 750px) {
    grid-template: 'left-quote  left-actions ' auto
                   'right-quote right-actions' auto
                   'source      source       ' auto
                   / 1fr auto;
  }
}
